* {
  font-family: montserrat, sans-serif;
  box-sizing: border-box;
}

.full-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: montserrat, sans-serif;
  font-weight: 600;
  color: #00113e;
}

h5 {
  font-size: 18px;
}

.clipped-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 20px 0;
  flex-direction: column;
}

.clipped-container div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

@media (min-width: 1200px) {
  .clipped-container {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .clipped-container {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .clipped-container {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .clipped-container {
    max-width: 540px;
  }
}

.clipped-container div a {
  font-size: 0.875rem;
  color: #fff;
  transition: all 0.3s ease;
  padding: 15px 40px;
  position: relative;
  background: #123365;
  border-radius: 40px;

  text-decoration: none;
}

.presentation-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 150px 0 0;
}

.presentation-page h1 {
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 20px;
  color: #00113e;
}

.presentation-page p {
  font-size: 16px;
  color: #9d9ea5;
  line-height: 28px;
  margin-bottom: 0;
}
